<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../partials/nav.ejs'); %>
    </nav>

    <div class="p-5">
        <%  if(message.length > 0) { %>
            <div class="alert alert-success" style="text-align: center;">
                <h4>
                    <%= message %>
                </h4>
            </div>
            <% } %>

                <%  if(error.length > 0) { %>
                    <div class="alert alert-danger" style="text-align: center;">
                        <h4>
                            <%= error %>
                        </h4>
                    </div>
                    <% } %>

                        <%  if(info.length > 0) { %>
                            <div class="alert alert-info" style="text-align: center;">
                                <h4>
                                    <%= info %>
                                </h4>
                            </div>
                            <% } %>
    </div>

    <div class="MainDiv">
        <form action="/auth/login" method="post">
            <div>
                <div class="input-group">
                    <div class="input-group-prepend ">
                        <span class="input-group-text ">Email a heslo</span>
                    </div>
                    <input id="email" name="email" type="email " class="form-control " placeholder="Email" required>
                    <input id="password" name="password" type="password" class="form-control " placeholder="Heslo" required>
                    <div class="input-group-append ">
                        <button class="btn btn-success" type="button " id="button-addon2 ">Přihlásit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://josefbouse.cz/" style="text-decoration: none;">Josef Bouše</a> &
            <a class="text-white" href="https://foxhyn.com/" style="text-decoration: none;">Pavla Krausová</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>

</html>