<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../partials/nav.ejs'); %>
    </nav>

    <div class="UniPage-div">

        <!-- Krátkodobé plánování -->
        <h4>Krátkodobé / malé plány a cíle</h4>
        <table class="table table-sm" style="max-width: 800px;">
            <thead>
                <tr>
                    <th scope=" col ">#</th>
                    <th scope="col ">Cíl</th>
                    <th scope="col ">Pes</th>
                    <th scope="col ">Datum</th>
                    <th scope="col ">Dlouhodobý cíl</th>
                    <th scope="col ">Akce</th>
                </tr>
            </thead>
            <tbody>
                <%
                    if(smallPlans.length != 0 && typeof smallPlans != "undefined"){ 
                        var i = 1;                           
                        smallPlans.forEach(function(data){
                        %>

                    <tr <% if(data.status==1 ){%> class="table-success"
                        <%} else if (data.status == 2){%> class="table-warning"
                            <%} else if (data.status == 3) {%> class="table-danger"
                                <%} else if (data.status == 4) {%> class="table-secondary"
                                    <%}%> id="smallPlan-
                                        <%=data.id %>">
                                            <th scope="row ">
                                                <%= i %>
                                            </th>
                                            <td>
                                                <%=data.name %>
                                            </td>
                                            <td>
                                                <%=data.dname %>
                                            </td>
                                            <td>
                                                <%=data.dateend.getDate() + '.' + (data.dateend.getMonth()+1) + '.' + data.dateend.getFullYear()%>
                                            </td>
                                            <td>
                                                <%=data.bname %>
                                            </td>
                                            <td>
                                                <% if(data.status != 2 && data.status != 0) { %>
                                                    <button class="btn btn-success disabled">Splněno</button>
                                                    <%} else { %> <button class="btn btn-success">Splněno</button>
                                                        <%}%>
                                            </td>

                    </tr>
                    <% i++;})} %>
            </tbody>
        </table>

        <!-- Dlouhodobé plánování -->
        <h4 style="margin-top:30px">Dlouhodeobé / velké plány a cíle</h4>
        <table class="table table-sm " style="max-width: 800px;">
            <thead>
                <tr>
                    <th scope="col ">#</th>
                    <th scope="col ">Cíl</th>
                    <th scope="col ">Pes</th>
                    <th scope="col ">Datum</th>
                    <th scope="col ">Pokrok</th>
                </tr>
            </thead>
            <tbody>
                <%
                    if(bigPlans.length != 0 && typeof bigPlans != "undefined"){
                        var i = 1;                           
                        bigPlans.forEach(function(data){ 
                        %>

                    <tr id="bigPlan-<%=data.id %>">
                        <th scope="row ">
                            <%= i %>
                        </th>
                        <td>
                            <%=data.name %>
                        </td>
                        <td>
                            <%=data.dname %>
                        </td>
                        <td>
                            <%=data.dateend.getDate() + '.' + (data.dateend.getMonth()+1) + '.' + data.dateend.getFullYear()%>
                        </td>
                        <td>
                            <% var num = 0; 
                                    smallPlans.forEach(function(e){ 
                                        if(e.bid == data.id) {
                                        num++;
                                        }
                                    });
                                    var valuenow = Number(data.progress/num * 100)
                                    %>
                                <div class="progress">
                                    <input hidden id="help<%=data.id %>" value="<%=valuenow%>"></input>
                                    <div id="myBar<%=data.id %>" style="width: 0%" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%=valuenow%>" aria-valuemin="0" aria-valuemax="100">
                                        <%=data.progress %> /
                                            <%=num %>
                                    </div>
                                </div>

                                <script>
                                    function tap() {
                                        var i = 1;
                                        var elementExists = document.getElementById("help" + i);
                                        while (elementExists) {
                                            var valuenow = document.querySelector("#help" + i).value;
                                            document.getElementById('myBar' + i).style.width = valuenow + '%';
                                            i++;
                                            var elementExists = document.getElementById("help" + i);
                                        }
                                        //document.getElementById('myBar2').style.width = 25 + '%';
                                    }
                                    tap();
                                </script>

                        </td>
                    </tr>
                    <% i++;})} %>
            </tbody>
        </table>
    </div>






    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom " style="background-color: #21081a; ">
        <%- include('../partials/footer.ejs'); %>
    </footer>
    <!-- Footer -->

</body>

</html>