<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../partials/nav.ejs'); %>
    </nav>

    <div class="Profile-div">
        <div class="card mb-3" style="max-width: 600px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="profile-icon-user " src="" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <% if (profileData) { %>
                            <h4 class="card-title">
                                <%= profileData.name %>
                            </h4>
                            <p class="card-text">Tel.:
                                <%= profileData.telefon %>
                            </p>
                            <p class="card-text">Email:
                                <%= profileData.email %>
                            </p>
                            <p class="card-text">Adresa:
                                <%= profileData.adress %>
                            </p>
                            <p class="card-text">Registrován:
                                <%= profileData.registered %>
                            </p>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-sm" style="max-width: 600px;">
            <thead>
                <tr>
                    <th scope="col" style="width:1%">#</th>
                    <th scope="col">Jméno</th>
                    <th scope="col">Rasa</th>
                    <th scope="col">Věk</th>
                </tr>
            </thead>
            <tbody>
                <%
                        if(dogs.length != 0 && typeof dogs != "undefined"){
                            var i = 1;
                            dogs.forEach(function(data){
                        %>
                    <tr id="<%=data.id %>">
                        <th scope="row">
                            <%=i %>
                        </th>
                        <td class="row-data">
                            <%=data.name %>
                        </td>
                        <td class="row-data">
                            <%=data.race %>
                        </td>
                        <td class="row-data">
                            <%= new Date().getFullYear() - data.born.getFullYear(); %>
                        </td>
                    </tr>

                    <% i++;})} else {  %>
                        <td colspan="4" class="row-data">
                            "NO DATA"
                        </td>
                        <% } %>
            </tbody>
        </table>
    </div>


    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://josefbouse.cz/" style="text-decoration: none;">Josef Bouše</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>