<!DOCTYPE html>
<html lang="cs">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../partials/nav.ejs'); %>
    </nav>

    <div class="container">
        <%  if(message.length > 0) { %>
            <div class="alert alert-success" style="text-align: center;">
                <h4>
                    <%= message %>
                </h4>
            </div>
            <% } %>

                <%  if(error.length > 0) { %>
                    <div class="alert alert-danger" style="text-align: center;">
                        <h4>
                            <%= error %>
                        </h4>
                    </div>
                    <% } %>

                        <%  if(info.length > 0) { %>
                            <div class="alert alert--info" style="text-align: center;">
                                <h4>
                                    <%= info %>
                                </h4>
                            </div>
                            <% } %>
    </div>

    <!-- Main part -->
    <main class="flex-shrink-0 p-5">
        <h4>CVIČITEL MENU</h4>
        <div class="container">
            <table class='table table-bordered table-condensed table-striped table-hover'>
                <tbody>
                    <tr>
                        <th>Pes</th>
                        <th>Rasa</th>
                        <th>Majitel</th>
                        <th>Cvičitel</th>
                        <th>Akce</th>
                    </tr>
                    <%
                            if(dogs.length != 0 && typeof dogs != "undefined"){
                                var i = 1;
                            dogs.forEach(function(data){ if (data != "") {
                            %>
                        <tr id="<%=data.id %>" class="clickable-row" data-href="/pessos/profile?id=<%=data.uid %>">
                            <td class="row-data">
                                <%=data.name %>
                            </td>
                            <td class="row-data">
                                <%=data.race %>
                            </td>
                            <td class="row-data">
                                <%=data.uname %>
                            </td>
                            <td class="row-data">
                                <% if (data.cname != null) { %>
                                    <%=data.cname %>
                                        <%} else { %>
                                            Nepřiřazen
                                            <% } %>
                            </td>
                            <td>
                                <% if(data.cname != null && data.cname != "" && data.cname != "Nepřiřazen")
                                { %>
                                    <form action="/admin/cvicitel/unassign" method="post">
                                        <input type="text" hidden id="did" name="did" value="<%=data.id %>" />
                                        <button type="submit" class="btn btn-danger">
                                        Odebrat cvičitele
                                    </button>
                                    </form>
                                    <%} else if(userData.upermissions == "admin") { %>
                                        <button type="submit " class="btn btn-success" data-toggle="modal" data-target="#myModal_<%=data.id %>">
                                        Přidat cvičitele
                                    </button>
                                        <!-- The Modal -->
                                        <div class="modal" id="myModal_<%=data.id %>">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Výběr cvičitele</h4>
                                                        <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">

                                                        <table class='table table-bordered'>
                                                            <tbody>
                                                                <tr>
                                                                    <th>Cvičitel</th>
                                                                </tr>
                                                                <%
                                                                    if(cvicitele.length != 0 && typeof cvicitele != "undefined"){
                                                                        cvicitele.forEach(function(mdata){
                                                                    %>
                                                                    <tr id="<%=data.id %>">
                                                                        <td>
                                                                            <form action="/admin/cvicitel/assign" method="post">
                                                                                <input type="text" hidden id="did" name="did" value="<%=data.id %>" />
                                                                                <input type="text" hidden id="cid" name="cid" value="<%=mdata.id %>" />
                                                                                <button class="btn btn-secondary" style="width: 100%"><%=mdata.name %></button>
                                                                            </form>
                                                                        </td>
                                                                    </tr>
                                                                    <%})} %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- The Modal -->
                                        <% } else if (userData.upermissions == "cvicitel") { %>
                                            <form action="/admin/cvicitel/assign" method="post">
                                                <input type="text" hidden id="did" name="did" value="<%=data.id %>" />
                                                <input type="text" hidden id="cid" name="cid" value="<%=userData.uid %>" />
                                                <button type="submit" class="btn btn-success">
                                        Převzít
                                    </button>
                                            </form>
                                            <% } %>
                            </td>

                            <% i++;}})} else {  %>
                                <td colspan="7" class="row-data">
                                    "NO DATA"
                                </td>
                                <% } %>
                        </tr>
                </tbody>
            </table>
        </div>

        <div class="container mt-5">
            <form action="/admin/cvicitel/addactivity" method="post">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Název aktivity:</span>
                    </div>
                    <input name="name" id="name" type="text" class="form-control" />
                    <button class="btn btn-outline-secondary" type="submit">Přidat aktivitu</button>
                </div>
            </form>

            <table class='table table-bordered table-condensed table-striped table-hover mt-3'>
                <tbody>
                    <tr>
                        <th colspan="2">Název aktivity</th>
                    </tr>

                    <%
                            if(activity.length != 0 && typeof activity != "undefined"){
                                activity.forEach(function(data){
                            %>
                        <tr></tr>
                        <td class="row-data">
                            <%=data.name%>
                        </td>
                        <td style="text-align: right">
                            <form action="/admin/cvicitel/removeactivity" method="post">
                                <input name="id" id="id" type="text" class="form-control" hidden value="<%=data.id%>" />
                                <button class="btn btn-danger" type="submit">ODSTRANIT</button>
                            </form>
                        </td>
                        <%})} else {  %>
                            <td colspan="2">
                                NO DATA
                            </td>
                            </tr>
                            <%}%>

                </tbody>
            </table>
        </div>

        <script type="text/javascript">
            $(document).ready(function($) {
                $(".clickable-row").click(function() {
                    window.document.location = $(this).data('href');
                });
            });
        </script>

    </main>
    <!-- Main part -->


    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://josefbouse.cz/" style="text-decoration: none;">Josef Bouše</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>