<!DOCTYPE html>
<html lang="cs">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../partials/nav.ejs'); %>
    </nav>

    <div class="container">
        <%  if(message.length > 0) { %>
            <div class="alert alert-success" style="text-align: center;">
                <h4>
                    <%= message %>
                </h4>
            </div>
            <% } %>

                <%  if(error.length > 0) { %>
                    <div class="alert alert-danger" style="text-align: center;">
                        <h4>
                            <%= error %>
                        </h4>
                    </div>
                    <% } %>

                        <%  if(info.length > 0) { %>
                            <div class="alert alert--info" style="text-align: center;">
                                <h4>
                                    <%= info %>
                                </h4>
                            </div>
                            <% } %>
    </div>
    <!-- Main part -->
    <main class="flex-shrink-0 p-5">
        <h4>CVIČITEL MENU</h4>
        <div class="container">
            <table id="PsiTABLE" class='table table-bordered table-condensed table-striped table-hover'>
                <thead>
                    <tr>
                        <th>Pes</th>
                        <th>Rasa</th>
                        <th>Majitel</th>
                        <th>Cvičitel</th>
                        <th>Akce</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                            if(dogs.length != 0 && typeof dogs != "undefined"){
                                var i = 1;
                            dogs.forEach(function(data){ if (data != "") {
                            %>
                        <tr id="PesRowID-<%=i %>" onclick="prclick()">

                            <td class="row-data">
                                <%=data.name %>

                            </td>
                            <td class="row-data">
                                <%=data.race %>
                            </td>
                            <td class="row-data">
                                <a class="text-danger" href="/pessos/profile?id=<%=data.uid %>" style="text-decoration: none;">
                                    <%=data.uname %>
                                </a>
                            </td>
                            <td class="row-data">
                                <% if (data.cname != null) { %>
                                    <%=data.cname %>
                                        <%} else { %>
                                            Nepřiřazen
                                            <% } %>
                            </td>
                            <td hidden class="activity">
                                <%=data.allowedActivity%>
                            </td>
                            <td hidden class="dogID">
                                <%=data.id%>
                            </td>
                            <td>
                                <% if(data.cname != null && data.cname != "" && data.cname != "Nepřiřazen" )
                                { %>
                                    <form action="/admin/cvicitel/unassign" method="post">
                                        <input type="text" hidden id="did" name="did" value="<%=data.id %>" />
                                        <% if(data.cid == userData.uid || userData.upermissions == "admin"){ %>
                                            <button type="button" class="btn btn-danger"> <%} else { %>
                                            <button type="button"  class="btn btn-danger disabled ">
                                                <%}%>
                                        Odebrat cvičitele
                                    </button>
                                    </form>
                                    <%} else if(userData.upermissions == "admin") { %>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal_<%=i%>">
                                        Přidat cvičitele
                                    </button>
                                        <!-- The Modal -->
                                        <div class="modal" id="myModal_<%=i %>">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Výběr cvičitele</h4>
                                                        <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <table class='table table-bordered'>
                                                            <tbody>
                                                                <tr>
                                                                    <th>Cvičitel</th>
                                                                </tr>
                                                                <%
                                                                    if(cvicitele.length != 0 && typeof cvicitele != "undefined"){
                                                                        cvicitele.forEach(function(mdata){
                                                                    %>
                                                                    <tr id="<%=data.id %>">
                                                                        <td>
                                                                            <form action="/admin/cvicitel/assign" method="post">
                                                                                <input type="text" hidden id="did" name="did" value="<%=data.id %>" />
                                                                                <input type="text" hidden id="cid" name="cid" value="<%=mdata.id %>" />
                                                                                <button class="btn btn-secondary" type="submit" style="width: 100%"><%=mdata.name %></button>
                                                                            </form>
                                                                        </td>
                                                                    </tr>
                                                                    <%})} %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-danger" data-dismiss="modal">Zavřít</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- The Modal -->

                                        <% } else if (userData.upermissions == "cvicitel") { %>
                                            <form action="/admin/cvicitel/assign" method="post">
                                                <input type="text" hidden id="did" name="did" value="<%=data.id %>" />
                                                <input type="text" hidden id="cid" name="cid" value="<%=userData.uid %>" />
                                                <button type="submit" class="btn btn-success">
                                                    Převzít
                                                 </button>
                                            </form>
                                            <% } if(userData.uid == data.cid) { %>
                                                <form action="/admin/cvicitel/createPlans" method="post">
                                                    <input type="text" hidden id="did" name="did" value="<%=data.id %>" />
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                    Zadat plány nebo úkoly
                                                 </button>
                                                </form>
                                                <%}%>
                            </td>

                            <% i++;}})} else {  %>
                                <td colspan="7" class="row-data">
                                    "NO DATA"
                                </td>
                                <% } %>

                        </tr>
                </tbody>
            </table>
        </div>
        <table>
            <div class="container mt-5">
                <form action="/admin/cvicitel/saveactivity" method="post">
                    <input name="dogIDsent" id="dogIDsent" type="text" class="form-control row-data" hidden value="" />
                    <table id="allowedActivityTABLE" class='table table-bordered table-condensed table-hover mt-3'>
                        <thead>
                            <tr>
                                <th colspan="2">Aktivity přidělené k psovi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%  var i = 1;
                            if(activity.length != 0 && typeof activity != "undefined"){
                                activity.forEach(function(adata){
                            %>
                                <tr id="allowedActivityID-<%=i%>" class="">
                                    <td id="name" class="row-data">
                                        <%=adata.name%>
                                    </td>
                                    <td style="text-align: right">

                                        <input name="id-<%=i%>" id="id-<%=i%>" type="text" class="form-control row-data" hidden value="<%=adata.id%>" />
                                        <input name="allowed-<%=i%>" id="allowed-<%=i%>" type="text" class="form-control" hidden value="DISSALLOWED" />
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault-<%=i%>" name="flexSwitchCheckDefault-<%=i%>">
                                        </div>

                                    </td>
                                    <%i++;})} else {  %>
                                        <td colspan="2">
                                            NO DATA
                                        </td>

                                </tr>

                                <%}%>
                        </tbody>
                    </table>
                    <button class="btn btn-primary ">Uložit aktivity</button>
                </form>
            </div>
            <script type="text/javascript">
                function prclick() {
                    var rowId =
                        event.target.parentNode.id;

                    //this gives id of tr whose button was clicked
                    // var data =
                    //document.getElementById(rowId).querySelectorAll(".row-data");

                    var table = document.getElementById("PsiTABLE");
                    var tbodyRowCount = table.tBodies[0].rows.length;
                    for (var i = 0; i <= tbodyRowCount; i++) {
                        if (document.getElementById('PesRowID-' + i)) {
                            document.getElementById('PesRowID-' + i).className = '';
                        }
                    }
                    document.getElementById(rowId).className = 'table-primary';
                    var data =
                        document.getElementById(rowId).querySelectorAll(".activity");
                    var name = data[0].innerHTML;

                    var ddata = document.getElementById(rowId).querySelectorAll(".dogID");

                    console.log("DID: " + ddata[0].innerHTML.trim());
                    document.getElementById("dogIDsent").value = ddata[0].innerHTML.trim();
                    //console.log(name);


                    var aList = name.split('|');
                    for (var i = 0; i < aList.length; i++) {
                        aList[i] = aList[i].trim()
                    }
                    //console.log(aList);

                    var Atable = document.getElementById("allowedActivityTABLE");
                    var AtbodyRowCount = Atable.tBodies[0].rows.length;
                    //console.log(AtbodyRowCount);

                    for (var i = 1; i <= AtbodyRowCount; i++) {
                        var Ndata = document.getElementById('id-' + i).value;


                        //var Adata = document.getElementById('allowedActivityID-' + i).querySelectorAll(".row-data");
                        //console.log('ID: ' + Adata[0].innerHTML.trim());
                        if (aList.includes(Ndata)) {
                            //console.log("ALLOWED");
                            document.getElementById("flexSwitchCheckDefault-" + i).checked = true;
                            //document.getElementById("allowed-" + i).value = "ALLOWED";
                        } else {
                            document.getElementById("flexSwitchCheckDefault-" + i).checked = false;
                            //document.getElementById("allowed-" + i).value = "DISSALLOWED";
                            //console.log('NOPE');
                        }
                        checkMe()

                    }
                }

                function checkMe() {
                    // General/modular function for status logging
                    var checkboxChecker = function() {
                        $('table[id="allowedActivityTABLE"] tr').each(function(i) {
                            // Only check rows that contain a checkbox
                            var $chkbox = $(this).find('input[type="checkbox"]');
                            if ($chkbox.length) {
                                var status = $chkbox.prop('checked');
                                if (status == true) {
                                    document.getElementById('allowedActivityID-' + i).className = 'table-success';
                                    document.getElementById("allowed-" + i).value = "ALLOWED"
                                } else {
                                    document.getElementById('allowedActivityID-' + i).className = '';
                                    document.getElementById("allowed-" + i).value = "DISSALLOWED";
                                }
                            }
                        });
                    };

                    // Check checkboxes status on DOMready
                    checkboxChecker();

                    // Check again when checkboxes states are changed
                    $('table[id="allowedActivityTABLE"] tr input[type="checkbox"]').on('change', function() {
                        checkboxChecker();
                    });
                }
            </script>

            <!-- Aktivity a editace globálních aktivit -->
            <div class="container mt-5">
                <form action="/admin/cvicitel/addactivity" method="post">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Název aktivity:</span>
                        </div>
                        <input name="name" id="name" type="text" class="form-control" />
                        <button class="btn btn-outline-secondary" type="submit">Přidat aktivitu</button>
                    </div>
                </form>

                <table class='table table-bordered table-condensed table-striped table-hover mt-3'>
                    <tbody>
                        <tr>
                            <th colspan="2">Název aktivity</th>
                        </tr>

                        <%
                            if(activity.length != 0 && typeof activity != "undefined"){
                                activity.forEach(function(data){
                            %>
                            <tr>
                                <td class="row-data">
                                    <%=data.name%>
                                </td>
                                <td style="text-align: right">
                                    <form action="/admin/cvicitel/removeactivity" method="post">
                                        <input name="id" id="id" type="text" class="form-control" hidden value="<%=data.id%>" />
                                        <button class="btn btn-danger" type="submit">ODSTRANIT</button>
                                    </form>
                                </td>
                                <%})} else {  %>
                                    <td colspan="2">
                                        NO DATA
                                    </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
            </div>
    </main>
    <!-- Main part -->


    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://josefbouse.cz/" style="text-decoration: none;">Josef Bouše</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>