<!DOCTYPE html>
<html lang="cs">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../partials/nav.ejs'); %>
    </nav>

    <!-- Main part -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administátorské menu</h1>
            <p class="lead">HAHA.</p>

            <div class="p-5">
                <%  if(message.length > 0) { %>
                    <div class="alert alert-success" style="text-align: center;">
                        <h4>
                            <%= message %>
                        </h4>
                    </div>
                    <% } %>

                        <%  if(error.length > 0) { %>
                            <div class="alert alert-danger" style="text-align: center;">
                                <h4>
                                    <%= error %>
                                </h4>
                            </div>
                            <% } %>

                                <%  if(info.length > 0) { %>
                                    <div class="alert alert--info" style="text-align: center;">
                                        <h4>
                                            <%= info %>
                                        </h4>
                                    </div>
                                    <% } %>
            </div>
        </div>

        <div class="flex-shrink-0 mt-5 container">
            <h4>Uživatelé:</h4>
            <table class="table table-sm table-bordered table-hover" onclick="tclick()">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Jméno</th>
                        <th scope="col">Email</th>
                        <th scope="col">Adresa</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Role</th>
                        <th scope="col">Registrován</th>
                        <th scope="col">Akce</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                            if(uzivatele.length != 0 && typeof uzivatele != "undefined"){
                                var i = 1;
                            uzivatele.forEach(function(data){ if (data != "") {
                            %>
                        <tr id="<%=data.id %>">
                            <th scope="row">
                                <%=i %>
                            </th>
                            <td class="row-data">
                                <%=data.name %>
                            </td>
                            <td class="row-data">
                                <%=data.email %>
                            </td>
                            <td class="row-data">
                                <%=data.adress %>
                            </td>
                            <td class="row-data">
                                <%=data.telefon %>
                            </td>
                            <td class="row-data">
                                <%=data.permissions %>
                            </td>
                            <td class="row-data">
                                <%=data.registered %>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_<%=data.id %>">
                                        Změnit heslo
                                    </button>

                            </td>
                        </tr>
                        <!-- The Modal -->
                        <div class="modal" id="myModal_<%=data.id %>">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Změna hesla</h4>
                                        <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <p>
                                            Změna hesla pro uživatele:
                                            <%=data.name %>
                                        </p>
                                        <p>
                                            Email uživatele:
                                            <%=data.email %>
                                        </p>
                                        <form method="post" action="/auth/changePassword">
                                            <input type="text" class="form-control" required id="pid" name="pid" value="<%=data.id %>" hidden>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="password" class="form-control" placeholder="Heslo poprvé" required id="password" name="password">
                                                </div>
                                                <div class="col">
                                                    <input type="password" class="form-control" placeholder="Heslo pro kontrolu" required id="passwordConfirm" name="passwordConfirm">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <button type="submit " id="submit" class="btn btn-success" onclick="hideit()">Změnit heslo</button>
                                                <script>
                                                    function hideit() {
                                                        $('#myModal_<%=data.id %>').modal('hide')
                                                    }
                                                </script>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- The Modal -->

                        <% i++;}})} else {  %>
                            <td colspan="7" class="row-data">
                                "NO DATA"
                            </td>
                            <% } %>
                </tbody>
            </table>

            <form action="/admin/saveOrCreate" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">Email @</span>
                    <input type="text " value="" name="email" id="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Jméno a příjmení</span>
                    <input type="text " value="" id="name" name="name" class="form-control" placeholder="jméno a příjmení">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Adresa</span>
                    <input type="text " name="adress" class="form-control" id="adress">
                    <span class="input-group-text">Telefon:</span>
                    <input type="text " id="tel" name="tel" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Role</span>
                    <input type="text " id="permissions" name="permissions" class="form-control" required>
                </div>

                <p>Pouze v případě zakládání nového uživatele</p>
                <div class="input-group mb-3 input-group-sm">

                    <span class="input-group-text">Heslo:</span>
                    <input type="password" id="password" name="password" class="form-control">
                    <span class="input-group-text">Heslo znovu:</span>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control">
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary mb-5" type="submit">Zalžit/Uožit uživatele</button>
                </div>
            </form>
            <div style="padding-bottom: 10%;">
                <h4>Smečka uživatele:</h4>
                <table id="dogsTable" class="table table-sm table-bordered table-hover" onclick="selectPes()">
                    <thead>
                        <tr>
                            <th scope="col">PID</th>
                            <th scope="col">Jméno</th>
                            <th scope="col">Rasa</th>
                            <th scope="col">Věk</th>
                            <th scope="col">Akce</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                                    if(dogs.length != 0 && typeof dogs != "undefined"){
                                        var i = 1;                           
                                    dogs.forEach(function(data){ if (data != "") {
                                %>

                            <tr id="pes-<%=data.id %>">
                                <td class="row-data">
                                    <%=data.pid %>
                                </td>
                                <td class="row-data">
                                    <%=data.name %>
                                </td>
                                <td class="row-data">
                                    <%=data.race %>
                                </td>
                                <td class="row-data">
                                    <%= new Date().getFullYear() - data.born.getFullYear(); %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#dogModal_<%=data.id %>">
                                        Upravit data
                                    </button>

                                </td>
                                <!-- The dogsModal -->
                                <div class="modal" id="dogModal_<%=data.id %>">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Editace psa</h4>
                                                <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form method="post" action="/admin/saveDog">
                                                    <input type="text" class="form-control" required id="id" name="id" value="<%=data.id %>" hidden>

                                                    <input type="text " class="form-control" placeholder="Jméno" required id="name" name="name" value="<%=data.name %>">

                                                    <input type="text " class="form-control" placeholder="Rasa" required id="race" name="race" value="<%=data.race %>">

                                                    <input type="text " class="form-control" placeholder="Narození" required id="born" name="born" value="<%=data.born.getFullYear() + '-' + data.born.getMonth() +'-'+ data.born.getDay()  %>">
                                                    <p>Datum je ve formátu YYYY-MM-DD</p>
                                                    <div class="row mt-3">
                                                        <button type="submit " id="submit" class="btn btn-success" onclick="hidedog()">Uložit</button>
                                                        <script>
                                                            onLoad();

                                                            function hidedog() {
                                                                $('#dogModal_<%=data.id %>').modal('hide')
                                                            }
                                                        </script>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- The dogsModal -->
                            </tr>

                            <% i++;}})} %>
                    </tbody>
                </table>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mb-5 btn-sm" type="submit" data-toggle="modal" data-target="#AddDogModal">Přidat psa</button>
                    <!-- The AddDogModal -->
                    <div class="modal" id="AddDogModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Založení nového psa</h4>
                                    <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="/admin/addDog" method="post">
                                        <input type="text" class="form-control" required id="add-dog-pid" name="pid" value="" hidden>

                                        <input type="text " class="form-control" placeholder="Jméno" required id="name" name="name" value="">

                                        <input type="text " class="form-control" placeholder="Rasa" required id="race" name="race" value="">

                                        <input type="text " class="form-control" placeholder="Narození" required id="born" name="born" value="">
                                        <p>Datum je ve formátu YYYY-MM-DD</p>
                                        <div class="row mt-3">
                                            <button type="submit " id="submit" class="btn btn-success" onclick="hideadddog()">Uložit</button>
                                            <script>
                                                function hideadddog() {
                                                    $('#AddDogModal').modal('hide')
                                                }
                                            </script>
                                        </div>
                                    </form>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- The AddDogModal -->
                </div>
            </div>

        </div>
    </main>
    <!-- Main part -->


    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://josefbouse.cz/" style="text-decoration: none;">Josef Bouše</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html>