<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../../partials/nav.ejs'); %>
    </nav>

    <div class="p-5">
        <%  if(message.length > 0) { %>
            <div class="alert alert-success" style="text-align: center;">
                <h4>
                    <%= message %>
                </h4>
            </div>
            <% } %>

                <%  if(error.length > 0) { %>
                    <div class="alert alert-danger" style="text-align: center;">
                        <h4>
                            <%= error %>
                        </h4>
                    </div>
                    <% } %>

                        <%  if(info.length > 0) { %>
                            <div class="alert alert-info" style="text-align: center;">
                                <h4>
                                    <%= info %>
                                </h4>
                            </div>
                            <% } %>
    </div>

    <div class="UniPage-div container text-center col-sm-6 ">
        <h2>Vyber psa pro zadávání aktivity:</h2>
        <form action="/pessos/denik/rozcestnik" method="post">
            <select name="dog" class="form-select" multiple aria-label="multiple select example">
                <%
                if(dogs.length != 0 && typeof dogs != "undefined"){
                    var i = 1;
                    dogs.forEach(function(data){
                %>
            <option value="<%=data.id%>"><%=data.name%></option>
            <%})}%>
          </select>
            <div>
                <button name="btn" type="submit" value="denni" class="btn btn-primary col-5 mt-1">Denní záznam</button>
                <button name="btn" type="submit" value="tydenni" class="btn btn-primary col-5 mt-1">Týdenní záznam</button>
            </div>
        </form>
    </div>






    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom " style="background-color: #21081a; ">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
            © 2021 Copyright:
            <a class="text-white " href="https://josefbouse.cz/ " style="text-decoration: none; ">Josef Bouše</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf " crossorigin="anonymous "></script>
</body>

</html>