<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../../partials/nav.ejs'); %>
    </nav>

    <div class="p-5">
        <%  if(message.length > 0) { %>
            <div class="alert alert-success" style="text-align: center;">
                <h4>
                    <%= message %>
                </h4>
            </div>
            <% } %>

                <%  if(error.length > 0) { %>
                    <div class="alert alert-danger" style="text-align: center;">
                        <h4>
                            <%= error %>
                        </h4>
                    </div>
                    <% } %>

                        <%  if(info.length > 0) { %>
                            <div class="alert alert-info" style="text-align: center;">
                                <h4>
                                    <%= info %>
                                </h4>
                            </div>
                            <% } %>
    </div>

    <div class="UniPage-div">
        <form action="">

            <div class="input-group">
                <span class="input-group-text">Datum</span>
                <input type="text " aria-label="First name" class="form-control">
                <label class="input-group-text" for="inputGroupSelect01">Druh aktivity:</label>
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Vyberte...</option>
                  <option value="1">Cvičení doma</option>
                  <option value="2">Cvičení venku</option>
                  <option value="3">Agility</option>
                  <option value="3">Výstava</option>
                  </select>
            </div>

            <div class="input-group">
                <label class="input-group-text" for="inputGroupSelect01">Pes:</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Vyberte...</option>
                    <option value="1">Ariša</option>
                    <option value="2">Meggie</option>
                 </select>
            </div>

            <div class="input-group ">
                <label class="input-group-text" for="inputGroupSelect01">Plán:</label>
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Vyberte...</option>
                  <option value="1">Sedni a zůstaň</option>
                  <option value="2">Poslušnost venku</option>
                  <option value="3">Slalom</option>
                  <option value="3">Vyhrát CAC na výstavě</option>
                  </select>

                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off">
                <label class="btn btn-outline-success" for="success-outlined">Splněno</label>

                <input type="radio" class="btn-check" name="options-outlined" id="primary-outlined" autocomplete="off">
                <label class="btn btn-outline-primary" for="primary-outlined">Postup</label>

                <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="danger-outlined">Nesplněno</label>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Delší text, poznámka ..</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Uložit záznam</button>
            </div>
        </form>
    </div>






    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom " style="background-color: #21081a; ">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
            © 2021 Copyright:
            <a class="text-white " href="https://josefbouse.cz/ " style="text-decoration: none; ">Josef Bouše</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf " crossorigin="anonymous "></script>
</body>

</html>