<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs'); %>
</head>

<body>
    <nav>
        <%- include('../../partials/nav.ejs'); %>
    </nav>

    <div class="p-5">
        <%  if(message.length > 0) { %>
            <div class="alert alert-success" style="text-align: center;">
                <h4>
                    <%= message %>
                </h4>
            </div>
            <% } %>

                <%  if(error.length > 0) { %>
                    <div class="alert alert-danger" style="text-align: center;">
                        <h4>
                            <%= error %>
                        </h4>
                    </div>
                    <% } %>

                        <%  if(info.length > 0) { %>
                            <div class="alert alert-info" style="text-align: center;">
                                <h4>
                                    <%= info %>
                                </h4>
                            </div>
                            <% } %>
    </div>

    <div class="UniPage-div">
        <form action="/pessos/denik/addDenniZaznam" method="post">

            <div class="input-group">
                <span class="input-group-text">Datum</span>
                <input type="text " name="date" id="date" class="form-control" />
                <label class="input-group-text" for="activity">Druh aktivity:</label>
                <select name="activity" class="form-select" id="activity">
                  <option selected>Vyberte...</option>
                  <%
                  if(allowedActivities.length != 0 && typeof allowedActivities != "undefined"){
                      var i = 1;
                    allowedActivities.forEach(function(data){
                  %>
                  <option value="<%= data.id %>"><%=data.name%></option>
                  <%i++})} %>
                </select>

                <input hidden name="did" id="did" value="<%= did %>" />

            </div>

            <div class="input-group ">
                <label class="input-group-text" for="plan">Plán:</label>
                <select class="form-select" id="plan" name="plan">
                  <option value="0" selected>Vyberte...</option>
                  <%
                  if(smallPlans.length != 0 && typeof smallPlans != "undefined"){
                      var i = 1;
                      smallPlans.forEach(function(data){
                  %>
                  <option value="<%= data.id %>"><%=data.name%></option>
                  <%i++})} %>
                  </select>

                <input value="splneno" type="radio" class="btn-check" name="optionsoutlined" id="success-outlined" autocomplete="off" />
                <label class="btn btn-outline-success" for="success-outlined">Splněno</label>

                <input value="postup" type="radio" class="btn-check" name="optionsoutlined" id="primary-outlined" autocomplete="off" />
                <label class="btn btn-outline-primary" for="primary-outlined">Postup</label>

                <input value="nesplneno" type="radio" class="btn-check" name="optionsoutlined" id="danger-outlined" autocomplete="off" />
                <label class="btn btn-outline-danger" for="danger-outlined">Nesplněno</label>
            </div>

            <div class="mb-3">
                <label for="poznamka" class="form-label">Delší text, poznámka ..</label>
                <textarea class="form-control" id="poznamka" name="poznamka" rows="3"></textarea>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Uložit záznam</button>
            </div>
        </form>
    </div>






    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom " style="background-color: #21081a; ">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
            © 2021 Copyright:
            <a class="text-white " href="https://josefbouse.cz/ " style="text-decoration: none; ">Josef Bouše</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf " crossorigin="anonymous "></script>
</body>

</html>